* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 2%;
  background-color: rgb(216, 216, 246);
}

#listings {
  display: flex;
  flex-direction: column;
}

.address {
  text-decoration: underline;
}

.listing {
  margin-top: 1%;
  margin-bottom: 1%;
}

.timestamp {
  opacity: 50%;
  font-size: small;
}

input {
  padding: 2px;
}

input:invalid {
  border: 2px dashed red;
}

form {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
}

form>* {
  margin: 10px 0 0 10px;
}
