<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YGL Aggregator</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script>
      const DOMAIN = {{ .domain }}
      const PORT = {{ .port }}
      const BASE_URL = `http://${DOMAIN}:${PORT}`
    </script>
    <script src="/static/script.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script>
      function writeIt() {
        console.log("jQuery Version " + $().jquery + " loaded.");
      }
      writeIt();
    </script>
  </head>
  <body>
    <div id="listings-area">
      <h1 id="main-header">I'VE GOT LISTINGS!!</h1>
      <hr />
      <div class="properties" id="listings"></div>
    </div>
  </body>
</html>
